* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    background-image: url("/assets/images/vintage-concrete.png");
    background-color: #cccccc;
}
  
  .img-container {
    min-height: 400px;
    background-image: url(http://lorempixel.com/1800/400/);
    background-repeat: no-repeat;
    background-size: 1800px 400px;
    background-position: center top;
    /*padding: 40px; (If don't want to set min-height or some image content is there) */
  }  