* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  a:visited {
    color: maroon;
  }

  a:link {
    color: navy;
  }

  body {
    background-image: url("../images/vintage-concrete.png");
    background-color: gray;
}

hr {
    margin: auto;
    width: 800px;
    
}
  
  header.top {
    position: absolute;
    width: 100%;
    height: 75px;
    background-color: #ffffff;
}

  div.section {
    color: teal;
    font-size: 36px;
    width: 90%;
    position: relative;
    left: 10px;
    padding-top: 50px;
}

div.top-left {
    background-color: teal;
    position: relative;
    left: 150px;
    width: 200px;
    height: 75px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    color: white;
}

nav.top-right {
  position: relative;
  left: 1200px;
  bottom: 45px;
  display: inline;
  width: 150px;
  height: 75px;
  margin: 2px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: gray;
}

nav.top-right-portfolio {
  position: relative;
  left: 1200px;
  bottom: 45px;
  display: inline;
  width: 150px;
  height: 75px;
  margin: 10px;
  border-left: 3px solid teal;
  border-right: 3px solid teal;
  padding-left: 13px;
  padding-right: 13px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: gray;
}

.footer-image p.footer {
  color: #ffffff;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
}

.footer-image {
    min-height: 120px;
    background-image: url(../images/pairs.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom;
    margin-top: 80px;
    line-height: 120px;
    text-align: center;
}
  
  .header-img-container {
    min-height: 650px;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
    /*padding: 40px; (If don't want to set min-height or some image content is there) */
  }  

  section {
    margin: 40px 0px 0px 150px;
    width: 900px;
    height: 600px;
    background-color: #ffffff;
}

  article {
    margin: auto;
    width: 560px;
    height: 240px;
    background-color: #777777;
}

  aside {
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    float: right;
    position: relative;
    bottom: 600px;
    right: 210px;
    color: teal;
}